<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Rashad Bet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'coupons' %}">Coupons</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'bet-slip-view' %}">Bet Slip</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/accounts/logout/">Logout</a>
            </li>
        {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="/accounts/login/">Login</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/accounts/signup/">Register</a>
            </li>
        {% endif %}
      </ul>

    </div>
  </nav>